{% extends "main/base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<main class="container py-5">
    <h1 class="text-center">About Us</h1>
    <section class="py-4">
        <h2>Our Vision</h2>
        <p>Is to develop well rounded, confident and responsible 
            individuals who aspire to achieve their full potential. 
            We will do this by providing a welcoming, happy, safe 
            and supportive learning environment in which everyone is equal 
            and all achievements are celebrated.</p>
    </section>
    <section class="py-4">
        <h2>Our Mission</h2>
        <p>Focus My Energy On Helping As Many People As Possible.</p>
    </section>
    <section class="py-4">
        <h2>Aims And Objectives</h2>
        <ol>
            <li>Peace building</li>
            <li>Counseling</li>
            <li>Education for all</li>
            <li>Entrepreneurship</li>
            <li>Training and re training</li>
        </ol>
        </section>
    <section class="py-4">
        <h2>About the Center</h2>
        <p>Light Counselling Center and Educational Services is a platform where trainees and trainers collaborate for effective learning. We offer diverse courses, such as Leatherwork, Agriculture, and Poultry, aimed at fostering skills for a sustainable and rewarding future.</p>
    </section>
</main>
{% endblock %}
